html, body {
  height:100%;
} 

body {
  display:flex;
  align-items:center;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #C9D6FF 0%, #E2E2E2 100%);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.py {
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  font-size: 21px;
  color: black;
}