html, body {
    height:100%;
} 

body {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #C9D6FF 0%, #E2E2E2 100%);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
}

.py {
  padding-top: 250px !important;
}

.icon {
  font-size: 21px;
  color: black;
}